 .u-section-1 {
  background-image: none;
  min-height: 894px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  animation-duration: 1000ms;
  margin: 62px 162px 0;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  transition-duration: 0.5s;
  margin: 27px 162px 0;
}

.u-section-1 .u-shape-1 {
  height: 202px;
  margin-top: 128px;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 976px;
  margin: -281px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  min-height: 463px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-image-1 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 46.03% 50%;
  margin-right: 0;
  animation-duration: 1000ms;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 12px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 18px -13px 0;
}

.u-section-1 .u-icon-1 {
  height: 104px;
  width: 104px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  color: rgb(255, 102, 0) !important;
  margin: 30px auto 0;
  padding: 10px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-image-2 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
  margin-right: 0;
  animation-duration: 1000ms;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 12px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 18px -13px 0;
}

.u-section-1 .u-icon-2 {
  height: 104px;
  width: 104px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  color: rgb(1, 0, 2) !important;
  margin: 30px auto 0;
  padding: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-image-3 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  animation-duration: 1000ms;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 12px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 18px -13px 0;
}

.u-section-1 .u-icon-3 {
  height: 104px;
  width: 104px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  color: rgb(1, 0, 2) !important;
  margin: 30px auto 0;
  padding: 10px;
}

.u-section-1 .u-shape-2 {
  width: 104px;
  height: 50px;
  transition-duration: 0.5s;
  margin: -265px auto 0 calc(((100% - 1140px) / 2) + 184px);
}

.u-section-1 .u-shape-3 {
  width: 107px;
  height: 48px;
  transition-duration: 0.5s;
  margin: -49px auto 0;
}

.u-section-1 .u-shape-4 {
  width: 120px;
  height: 67px;
  transition-duration: 0.5s;
  margin: -58px calc(((100% - 1140px) / 2) + 176px) 0 auto;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 233px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 848px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 219px;
    margin-right: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 219px;
    margin-right: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 219px;
    margin-right: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + 184px);
  }

  .u-section-1 .u-shape-4 {
    transform: scale(1.77);
    margin-right: calc(((100% - 940px) / 2) + 176px);
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 525px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }

  .u-section-1 .u-image-1 {
    height: 256px;
    margin-right: initial;
  }

  .u-section-1 .u-image-2 {
    height: 256px;
    margin-right: initial;
  }

  .u-section-1 .u-image-3 {
    height: 256px;
    margin-right: initial;
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2) + 184px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 720px) / 2) + 176px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2708px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    margin-right: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 320px;
    margin-right: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 320px;
    margin-right: initial;
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + 184px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2) + 193px);
  }

  .u-section-1 .u-shape-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2) + 193px);
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2) + 193px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2194px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 277px;
    margin-right: initial;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 277px;
    margin-right: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 277px;
    margin-right: initial;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -275px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -1272px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-4 {
    height: 54px;
    margin-top: 562px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 896px;
    margin-left: auto;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.13) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.13) !important;
}

.u-section-1 .u-shape-2,
.u-section-1 .u-shape-2:before,
.u-section-1 .u-shape-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-shape-2.u-shape-2.u-shape-2:hover {
  transform: scale(1.27) !important;
}

.u-section-1 .u-shape-2.u-shape-2.u-shape-2.hover {
  transform: scale(1.27) !important;
}

.u-section-1 .u-shape-3,
.u-section-1 .u-shape-3:before,
.u-section-1 .u-shape-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-shape-3.u-shape-3.u-shape-3:hover {
  transform: scale(1.26) !important;
}

.u-section-1 .u-shape-3.u-shape-3.u-shape-3.hover {
  transform: scale(1.26) !important;
}

.u-section-1 .u-shape-4,
.u-section-1 .u-shape-4:before,
.u-section-1 .u-shape-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-shape-4.u-shape-4.u-shape-4:hover {
  transform: scale(1.27) !important;
}

.u-section-1 .u-shape-4.u-shape-4.u-shape-4.hover {
  transform: scale(1.27) !important;
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.25) !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.25) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.25) !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.25) !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.25) !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  stroke-width: 3px !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1) !important;
  transform: scale(1.25) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-group-1 {
  min-height: 542px;
  margin-top: 79px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 18px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 76px auto 0 49px;
}

.u-section-2 .u-icon-1 {
  width: 127px;
  height: 127px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -22px 105px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.125rem;
  margin: -77px 521px 0 49px;
}

.u-section-2 .u-icon-2 {
  width: 167px;
  height: 167px;
  margin: -241px 263px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 140px;
  height: 140px;
  margin: -43px 98px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 150px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 201px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 1160px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 20px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 46px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 100px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 79px;
    margin-right: auto;
    padding: 14px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 362px;
}

.u-section-3 .u-shape-1 {
  height: 256px;
  width: 311px;
  margin: 38px auto 0 33px;
}

.u-section-3 .u-image-1 {
  width: 308px;
  height: 263px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -284px auto 0 16px;
}

.u-section-3 .u-shape-2 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: -292px auto 0 -19px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 252px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 10px 20px 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 215px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px 20px 7px;
}

.u-section-3 .u-group-1 {
  width: 323px;
  margin: 7px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-line-1 {
  width: 253px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto 0 -3px;
}

.u-section-3 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 399px;
}

.u-section-3 .u-shape-3 {
  height: 256px;
  width: 311px;
  margin: 49px auto 0 13px;
}

.u-section-3 .u-image-2 {
  width: 308px;
  height: 263px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -280px auto 0 0;
}

.u-section-3 .u-shape-4 {
  width: 570px;
  height: 228px;
  margin: -152px auto 0 -409px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 361px;
}

.u-section-3 .u-container-layout-6 {
  padding-right: 0;
}

.u-section-3 .u-shape-5 {
  height: 256px;
  width: 311px;
  margin: 37px auto 0;
}

.u-section-3 .u-image-3 {
  width: 308px;
  height: 263px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -288px auto 0 10px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 303px;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-line-2 {
  width: 305px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 1px -5px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 16px 0 0;
}

.u-section-3 .u-shape-6 {
  width: 568px;
  height: 418px;
  margin: -670px -12px 60px auto;
}

.u-section-3 .u-group-2 {
  width: 320px;
  margin: -41px auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-decoration: none solid rgb(44, 140, 204);
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-3 .u-shape-1 {
    height: 226px;
    width: 244px;
    position: relative;
    margin-left: 49px;
  }

  .u-section-3 .u-image-1 {
    width: 243px;
    position: relative;
    margin-top: -294px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 293px;
    margin-top: -273px;
    margin-left: -25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-line-1 {
    width: 188px;
    transform-origin: right center 0px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 396px;
  }

  .u-section-3 .u-shape-3 {
    height: 226px;
    width: 244px;
    position: relative;
    margin-left: 49px;
  }

  .u-section-3 .u-image-2 {
    width: 243px;
    position: relative;
    margin-top: -294px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -131px;
    margin-left: -315px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 324px;
  }

  .u-section-3 .u-shape-5 {
    height: 226px;
    margin-left: 49px;
    width: 244px;
    position: relative;
  }

  .u-section-3 .u-image-3 {
    width: 243px;
    position: relative;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 351px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-line-2 {
    width: 225px;
    margin-right: 0;
    margin-left: -7px;
  }

  .u-section-3 .u-shape-6 {
    width: 571px;
    height: 460px;
    margin-top: -685px;
    margin-right: -17px;
  }

  .u-section-3 .u-group-2 {
    min-height: 230px;
    margin-top: 35px;
    margin-right: -52px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-3 .u-shape-1 {
    height: 243px;
    width: 243px;
    margin-top: 73px;
    margin-left: 102px;
  }

  .u-section-3 .u-image-1 {
    width: 287px;
    height: 287px;
    margin-top: -317px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 30px;
  }

  .u-section-3 .u-line-1 {
    width: 253px;
    margin-left: -3px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 322px;
  }

  .u-section-3 .u-shape-3 {
    height: 243px;
    width: 243px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 287px;
    height: 287px;
    margin-top: -318px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 348px;
  }

  .u-section-3 .u-shape-5 {
    height: 243px;
    width: 243px;
    margin-top: 68px;
    margin-left: 102px;
  }

  .u-section-3 .u-image-3 {
    width: 287px;
    height: 287px;
    margin-top: -313px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 215px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-3 .u-shape-1 {
    height: 255px;
    width: 255px;
    margin-top: 66px;
    margin-left: 190px;
  }

  .u-section-3 .u-image-1 {
    width: 308px;
    height: 263px;
    margin-top: -292px;
    margin-left: 95px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 318px;
  }

  .u-section-3 .u-shape-3 {
    height: 255px;
    width: 255px;
    margin-top: 49px;
    margin-right: 74px;
  }

  .u-section-3 .u-image-2 {
    width: 308px;
    height: 263px;
    margin-top: -292px;
    margin-left: 116px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 21px;
  }

  .u-section-3 .u-shape-5 {
    height: 256px;
    width: 244px;
    margin-top: 0;
    margin-right: 85px;
    margin-left: 211px;
  }

  .u-section-3 .u-image-3 {
    width: 308px;
    height: 263px;
    margin-top: 0;
    margin-left: 116px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 194px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-6 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: -33px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -221px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-3 .u-shape-1 {
    height: 226px;
    width: 291px;
    margin-top: 454px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -276px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -415px;
    margin-bottom: -185px;
    margin-left: -22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 158px;
    margin-top: -169px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 130px;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    margin-left: -1px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-bottom: -74px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 361px;
  }

  .u-section-3 .u-shape-3 {
    height: 226px;
    width: 291px;
    margin-top: 522px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -276px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-3 .u-shape-4 {
    width: 344px;
    margin-top: -181px;
    margin-bottom: -446px;
    margin-left: -14px;
  }

  .u-section-3 .u-shape-5 {
    height: 226px;
    width: 291px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-3 .u-image-3 {
    width: 293px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 215px;
  }

  .u-section-3 .u-shape-6 {
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 158px;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 0 10px 0 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -7px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 21px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 984px;
}

.u-section-4 .u-group-1 {
  width: 496px;
  min-height: 810px;
  margin: 70px 605px 0 39px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 179px 0 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: -20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 200;
  margin: 12px 0 0;
}

.u-section-4 .u-text-4 {
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  border-style: none;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 15px 46px 15px 45px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 605px;
  margin: -810px 0 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 3px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 395px;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  color: rgb(255, 255, 255) !important;
  margin: 39px auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-7 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-8 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 3px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-4 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  color: rgb(255, 255, 255) !important;
  margin: 34px auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-9 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-10 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 3px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-11 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-12 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 3px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 441px;
    margin-right: 444px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2098px;
  }

  .u-section-4 .u-group-1 {
    min-height: 889px;
    width: 340px;
    margin-top: 0;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 86px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -109px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 4px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 49px;
    margin-left: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 320px;
    margin: -120px auto 51px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 277px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 213px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}