* {
    margin: 0;
}

body {
    font-family: DM Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(16, 16, 16);
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #ffffff00;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: #0056b3;
    cursor: pointer;
    border-radius: 5px;
    /* Añade bordes redondos al botón */

}




.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(112, 129, 159, 0.2);
    z-index: 1;
    border-radius: 5px;
    /* Añade bordes redondos al menú */

}

.dropdown-menu a {
    color: black;
    font-size: medium;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
    /* Añade bordes redondos al botón */

}

.dropdown:hover .dropdown-menu {
    display: block;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #333;
    color: white;
    width: 100%;
}

main {
    padding-top: 35px !important;
    padding: 90px;
}

section {
    border: 1px solid #444;
    border-radius: 10px;
}

.metrica img {
    position: relative;
    left: 50px;
    bottom: 20px;
}

canvas {
    width: 50%;
    height: 400px;
}

.dashboard {
    border: 1px solid #444;
    padding: 20px;
    margin-bottom: 20px;
}

.metricas {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

.metrica {
    flex: 1;
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.metrica h3 {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.metrica p {
    margin: 0;
    font-size: larger;
    font-weight: 800;
}

.avisos {
    border: 1px solid #444;
    padding: 20px;
    margin-bottom: 20px;
}

.aviso {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
}

.estadisticas {
    border: 0px solid #444;
    margin-bottom: 20px;
}

.balance,
.activos-valiosos,
.activos-rentabilizados {
    border: 1px solid #444;
    margin-bottom: 20px;
}

.balance {
    width: 100% !important;
}

.activos-valiosos h3,
.activos-rentabilizados h3 {
    margin-top: 0;
}

.activos-valiosos ul,
.activos-rentabilizados ul {
    list-style: none;
    padding: 0;
}

.activos-valiosos li,
.activos-rentabilizados li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.activos-valiosos table,
.activos-rentabilizados table,
.avisos table {
    width: 100%;
    border-collapse: collapse;
    background-color: #222;
}

.activos-valiosos th,
.activos-valiosos td,
.activos-rentabilizados th,
.activos-rentabilizados td,
.avisos th,
.avisos td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
    color: white;
}

.activos-valiosos th,
.activos-rentabilizados th,
.avisos th {
    background-color: #111;
}

.activos-valiosos tbody tr:nth-child(even),
.activos-rentabilizados tbody tr:nth-child(even),
.avisos tbody tr:nth-child(even) {
    background-color: #333;
}

.activos-valiosos tbody tr:hover,
.activos-rentabilizados tbody tr:hover,
.avisos tbody tr:hover {
    background-color: #444;
}

.contenedor-flex {
    display: flex;
    font-size: larger;
}

.contenedor-flex h3 {
    margin-top: 0;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    text-decoration: underline;
    color: #007bff;
    padding: 10px;
    border-bottom: 2px solid #47a0ff;
}

.activos-valiosos,
.activos-rentabilizados {
    flex: 1;
    margin-right: 20px;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu-lateral .hamburguesa {
    position: fixed;
    top: 20px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

.menu-lateral .enlaces {
    list-style-type: none;
    margin: 100px 0 0;
}

.menu-lateral .enlaces li {
    padding: 10px;
}

.menu-lateral .enlaces li a {
    color: white;
    text-decoration: none;
}



.logo-link {
    float: right;
    margin-left: 10px;
    /* Ajusta el margen izquierdo según sea necesario */
}


footer {
    text-align: center;
    /* Centra el contenido dentro del pie de página */
    margin-top: 0px;
    /* Espacio superior para separarlo del contenido */
}

.boton-editar {
    padding: 10px 20px;
    /* Ajusta el tamaño del botón según sea necesario */
    font-size: 16px;
    /* Tamaño del texto del botón */
    background-color: #007bff;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border: none;
    /* Elimina el borde del botón */
    border-radius: 5px;
    /* Añade bordes redondeados al botón */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima del botón */
    transition: background-color 0.3s ease;
    /* Transición suave al cambiar el color de fondo */
}

.boton-editar:hover {
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el ratón por encima */
}


.dropdown-toggle {
    color: white;
    /* Color del ícono */
    text-decoration: none;
    /* Quita el subrayado */
    margin-left: 10px;
    /* Espacio entre el texto y el ícono */
}

.dropdown-toggle:hover {
    color: gray;
    /* Cambia el color del ícono al pasar el ratón */
}



/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {


    main {
        padding: 0px;
        margin: 0px;
    }

    .contenedor-flex {
        flex-direction: column;
        /* Cambiar a disposición de columna en pantallas pequeñas */
    }

    .contenedor-flex>.balance {
        order: -1;
        /* Hacer que la sección de Balance de Costes aparezca primero */
    }

    .contenedor-flex>div {
        margin-bottom: 20px;
        /* Añadir espacio entre los elementos internos */
    }

    .menu-lateral {
        left: -250px;
        /* Cambia la posición inicial del menú a estar oculto */
    }



    .avisos {
        padding: 0px;
    }

    .contenedor-flex {
        margin: 0px;
        padding: 0px;
    }


    .metrica img {
        position: relative;
        left: 0;
        bottom: 0;
        max-width: 100%;
        /* Ajustar el ancho máximo de la imagen */
        height: auto;
        /* Permitir que la altura se ajuste automáticamente */
    }

    .menu-lateral {
        position: fixed;
        top: 0;
        width: 250px;
        height: 100%;
        background-color: #333;
        color: white;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .menu-lateral.abierto {
        left: 0;
    }

    footer {
        margin-bottom: 25px;
    }

    .contenedor-tabla {
        overflow-x: auto;
        /* Hacer que la tabla sea desplazable horizontalmente */
        margin-bottom: 20px;
        /* Añadir un espacio inferior para separarla de otros elementos */
    }

    .contenedor-tabla table {
        width: 100%;
        /* Establecer el ancho máximo de la tabla al 100% del contenedor */
    }

    .activos-valiosos {
        margin: 0px;
        padding: 0px;
    }

    .activos-rentabilizados {
        margin: 0px;
        padding: 0px;
    }

    .balance {
        height: 300px;
        /* Ajusta la altura según sea necesario */
    }

    .balance canvas {
        width: 100%;
        height: 250px !important;
    }
}